/**
 * Label component styles - DRK Corporate Design
 */

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.label {
  display: block;
  font-family: $font-family-base;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  margin-bottom: $spacing-xs;

  &__text {
    display: block;
  }

  &__required {
    color: $color-error;
  }

  &__hint {
    display: block;
    font-weight: $font-weight-normal;
    color: $color-text-muted;
    font-size: $font-size-xs;
    margin-top: $spacing-xs;
  }

  &__error {
    display: block;
    color: $color-error;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    margin-top: $spacing-xs;
  }
}

.labelError {
  .label__text {
    color: $color-error;
  }
}
