@use 'sass:color';
@use '../../styles/variables' as *;

.legalContent {
  max-width: 800px;
  line-height: 1.7;

  a {
    color: $color-secondary;
    text-decoration: underline;
    font-weight: $font-weight-bold;

    &:hover {
      color: color.adjust($color-secondary, $lightness: -10%);
    }
  }
}

.heading2 {
  font-family: $font-family-heading;
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $color-text;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: $color-primary;
    margin-bottom: 0.5rem;
  }
}

.heading3 {
  font-family: $font-family-heading;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: $color-text;
}

.heading4 {
  font-family: $font-family-heading;
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  color: $color-text;
}

.paragraph {
  margin-bottom: 1rem;
}

.list {
  margin-bottom: 1rem;
  padding-left: 1.5rem;

  li {
    margin-bottom: 0.5rem;
  }
}

.lastUpdated {
  font-size: 0.875rem;
  color: $color-text-muted;
  margin-bottom: 2rem;
}
